@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Veneer';
    src: url(/fonts/Veneer.ttf);
  }

  @font-face {
    font-family: 'Articulat_CF';
    src: url(/fonts/ArticulatCF-Normal.woff2);
  }
}

body {
  background: #F4EFE2;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}